@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'https://fonts.googleapis.com/css?family=Rock+Salt';

$font-stack:  arial, sans-serif;
$color4: white;
$color5: black;
$color3: #FF8552;
$color1: #E6E6E6;
$color2: #39393A;

body {
  height: 100%;
  font-family: $font-stack !important;
  padding-top: 20px;
}

.app {
  min-height: 480px;
  margin: 0 auto;
  background-color: $color2;
  color: $color4;
  border-color: $color5;
}

.loggedInUser {
  text-align: center;
  min-width: 100px;
  color: black;
}


.name-input {
    width: 100%;
  }

.ingredient-input {
    width: 100%;
}

.recipe {
    background-color: $color1 !important;
    color: $color5 !important;
    text-align: center;
    border-color: $color4 !important;
    &:hover {
        background-color: $color3 !important;
        border-color: $color5 !important;
    }
}

.modal {
  .modal-header {
    background-color: $color1 !important;
    color: $color5 !important;

  }
  .modal-body {
    background-color: $color2;
    h4 {
      color: white;
    }
    p {
      color: white;
    }
    label {
      color: white;
    }

  }
  .modal-footer {
    background-color: $color2;
    button {
      background-color: $color1 !important;
      color: $color5 !important;
      border-color: $color4 !important;
      &:hover {
          background-color: $color3 !important;
          border-color: $color5 !important;
    }
  }

  }
}
